body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    border-radius: .5em;
    padding: 20px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.container>* {
    padding: 10px;
    border: 2px solid cornflowerblue;
    border-radius: .5em;
    margin: 0;
    width: 300px;
    height: 600px;
}
nav {
    grid-column: span 2;
    background-color: gray;
    justify-content: space-between;
    display: flex;
}
.container h2 {
    color: cornflowerblue;
}
.paragraph {
    padding-left: 10px;
    padding-right: 10px;
}
.article {
    padding-right: 10px;
    margin-right: 10px;
}
@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}







